[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "==4.2.7"
djangorestframework = "*"
django-debug-toolbar = "*"
cloudinary = "*"
django-dotenv = "*"
firebase-admin = "*"
psycopg2-binary = "*"
whitenoise = "*"
drf-nested-routers = "*"

[dev-packages]

[requires]
python_version = "3.11"
