{% load static %}


<!DOCTYPE html>
<html lang="en" >
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Receipt</title>
    <style>
        body{
            font-size: 16px;
        }
        
        .status-rejected {
            background-color: #ffdddd; /* Light red */
        }
        .status-verified {
            background-color: #ddffdd; /* Light green */
        }
        .status-pending {
            background-color: #ffffdd; /* Light yellow */
        }

        #top, #mid, #bot {
            border-bottom: 1px solid #EEE;
        }
        #top {
            min-height: 100px;
        }
        #mid {
            min-height: 80px;
        }
        #bot {
            min-height: 50px;
        }
        .logo {
            height: 60px;
            width: 60px;
            /* Adjust the size as needed */
        }
        .info {
            display: block;
            margin-left: 0;
        }
        table {
            width: 100%;
            border-collapse: collapse;
        }
        td {
            padding: 5px;
        }
        .tabletitle {
            background: #EEE;
        }
    
    </style>
</head>
<body >
    <div id="invoice-POS">
        <center id="top">
            <div class="logo">
                <!-- PNG Logo -->
                <img src="data:image/png;base64,{{ logo_base64 }}" alt="Emica Solutions Logo"/>            </div>
            <div class="info">
                <h2>Emica Solutions</h2>
            </div>
        </center>
        <div id="mid">
            <div class="info">
                <h2>Contact Info</h2>
                <p>
                    Email   : emicasolutions@gmail.com<br>
                    Phone   : +251908560168<br>
                    Telegram Link : <a href="https://t.me/emi_shop_support">Click here</a> <br>
                    Telegram Username  : @emi_shop_support <br>
                </p>
            </div>
        </div>
        <div id="bot">
            <div id="table">
                <table>
                    <tr class="tabletitle">
                      <td></td>
                        <td class="item"><h2>Description</h2></td>
                        <td></td>
                    </tr>
                    <tr class="service">
                      <td></td>
                      
                      <td class="tableitem"><p class="itemtext">{{ transaction.reason }}</p></td>
                      
                      <td></td>
                    </tr>
                    <tr class="tabletitle">
                      <td></td>
                      <td class="Rate"><h2>Amount</h2></td>
                      <td></td>
                    </tr>

                    <tr class="service">
                      

                      <td></td>                        <td class="tableitem"><p class="itemtext"><i class="fa fa-{{ transaction.currency }}"></i> {{ transaction.amount }}</p></td>
                      
                      <td></td>  
                    </tr>
                    <tr class="tabletitle">
                        <td></td>
                        <td class="Rate"><h2>Status</h2></td>
                        <td></td>
                      </tr>
  
                      <tr class="service {% if transaction.rejected %}status-rejected{% elif transaction.payVerified %}status-verified{% else %}status-pending{% endif %}">
                        
  
                        <td></td>                        <td class="tableitem"><p class="itemtext"><i class="fa fa-{{ transaction.currency }}"></i> {% if transaction.rejected %}Rejected{% elif transaction.payVerified %}Verified{% else %}Pending{% endif %}</p></td>
                        
                        <td></td>  
                      </tr>
                    <!-- Add more rows as needed -->
                    <tr class="tabletitle">
                        <td></td>
                        <td class="Rate"><h2>Total</h2></td>
                        <td></td>           

                    </tr>
                    <tr class="service">
                        
  
                        <td></td>           
                        <td class="payment"><h2><i class="fa fa-{{ transaction.currency }}"></i> {{ transaction.amount }}</h2></td>                        
                        <td></td>  
                      </tr>
                </table>
            </div>
            <div id="legalcopy">
                <p class="legal"><strong>Thank you!</strong> You can verify this receipt using the Emi Shop App by going to Profile > Settings > Verify Receipt.</p>
            </div>
        </div>
        <!-- Hidden transaction details for PDF extraction -->
        <div style="font-size:5px">
            <div><strong>Transaction Issued By:</strong> {{ transaction.issuedBy.username }}</div>
            <div><strong>Transaction Issued For:</strong> {{ transaction.issuedFor.username }}</div>
            <div><strong>Transaction Amount:</strong> {{ transaction.amount }}</div>
            <div><strong>Transaction Reason:</strong> {{ transaction.reason }}</div>
            <div><strong>Transaction Currency:</strong> {{ transaction.currency }}</div>
            <div><strong>Transaction Used Virtual Currency:</strong> {{ transaction.usedVirtualCurrency }}</div>
            <div><strong>Transaction Pay Method:</strong> {{ transaction.payMethod.name }}</div>
            <div><strong>Transaction Pay Verified:</strong> {{ transaction.payVerified }}</div>
            <div><strong>Transaction Title:</strong> {{ transaction.title }}</div>
            <div><strong>True for Deposit / False for Withdraw:</strong> {{ transaction.trueForDepositFalseForWithdraw }}</div>
            <div><strong>Transaction Rejected:</strong> {{ transaction.rejected }}</div>
            <div><strong>Verification Screenshot:</strong> <a href="{{ transaction.verificationScreenshot.url }}" target="_blank">{{ transaction.verificationScreenshot.url }}</a></div>
            <div><strong>Backup Verification Screenshot:</strong> <a href="{{ transaction.backup_verification_screenshot.url }}" target="_blank">{{ transaction.backup_verification_screenshot.url }}</a></div>
            <div><strong>Transaction Confirmation Code:</strong> {{ transaction.transactionConfirmationCode }}</div>
            <div><strong>Transaction Created At:</strong> {{ transaction.created_at|date:"M. d, Y, h:i" }}</div>
            <div><strong>Transaction Pay For:</strong> 
                {% if transaction.pay_for == 'A' %} Ads
                {% elif transaction.pay_for == 'P' %} Package
                {% else %} Unknown
                {% endif %}
            </div>
            <div><strong>Transaction Coin Amount:</strong> {{ transaction.coin_amount }}</div>
            <div><strong>Transaction Previous Hash:</strong> {{ transaction.previous_hash }}</div>
            <div><strong>Transaction Current Hash:</strong> {{ transaction.current_hash }}</div>
        </div>
        
        
    </div>
</body>
</html>
